@charset "utf-8";



/*desktop*/

@media screen and (min-width: 769px) {
    /*produce*/
    .produce-container {
        width: 100%;
        max-width: 1200px;
        margin: 65px auto 0;
    }
    .produce-container .produce {
        width: 100%;
    }
    .produce-container .produce .pro-nav {
        color: #fff;
        background: #272727;
        font-size: 14px;
        line-height: 1.5;
        padding: 20px 30px;
    }
    .produce-container .produce .anchor {
        float: right;
    }
    .produce-container .produce .anchor a {
        color: #fff;
        padding: 0 15px;
        border-right: 1px solid #fff;
    }
    .produce-container .produce .anchor a:last-child {
        border-right: none;
    }
    .produce-container .produce .pro-detail {
        height: 500px;
        width: 100%;
        overflow: hidden;
        background: #fff;
    }
    .produce-container .produce .pro-detail .pro-img {
        width: 50%;
        float: left;
        height: 100%;
        max-width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .produce-container .produce .pro-detail .pro-img img {
        max-width: 560px;
    }
    .produce-container .produce .pro-detail .pro-description {
        width: 50%;
        float: left;
        margin-top: 45px;
    }
    .produce-container .produce .pro-detail .pro-description h1 {
        padding: 10px 10px 10px 80px;
        font-size: 36px;
        color: #272727;
    }
    .produce-container .produce .pro-detail .pro-description p {
        background: #fff;
        color: #272727;
        font-size: 14px;
        line-height: 2;
        padding: 10px 10px 10px 80px;
    }
    .produce-container .produce .pro-par {
        width: 100%;
        max-width: 1200px;
    }
    .produce-container .produce .pro-par .par-box {
        overflow: hidden;
        background: #4c4d6f;
    }
    .produce-container .produce .pro-par .par-box .par-tip {
        height: 149px;
        width: 50%;
        float: left;
    }
    .produce-container .produce .pro-par .par-box .par-tip:first-child {
        background: #18497f;
        position: relative;
    }
    .produce-container .produce .pro-par .par-box .par-tip:first-child:after {
        position: absolute;
        content: "";
        height: 89px;
        width: 1px;
        background: #fff;
        right: 0;
        top: 50%;
        margin-top: -45px;
    }
    .produce-container .produce .pro-par .par-box .par-tip h1 {
        font-size: 48px;
        color: #fff;
        line-height: 1.2;
        margin-top: 30px;
        text-align: center;
    }
    .produce-container .produce .pro-par .par-box .par-tip p {
        font-size: 18px;
        color: #fff;
        text-align: center;
    }
    .cp-par {
        width: 100%;
        height: 650px;
        background: #fff;
    }
    .cp-par .cp-par-box {
        width: 100%;
    }
    .cp-par h1 {
        font-size: 48px;
        text-align: center;
        color: #000;
        line-height: 70px;
        padding: 70px 0 50px;
    }
    .cp-par .cp-par-box ul {
        width: 25%;
        max-width: 215px;
        margin-left: 68px;
        float: left;
    }
    .cp-par .cp-par-box ul li {
        font-size: 12px;
        color: #9e9e9e;
        line-height: 2;
    }
    .cp-par .cp-par-box ul li:first-child {
        font-size: 14px;
        color: #272727;
        line-height: 36px;
        margin-bottom: 20px;
        border-bottom: 1px solid #5d5d5d;
        border-top: 1px solid #5d5d5d;
    }
    .cp-video {
        width: 100%;
    }
    .cp-video .video-box {
        width: 100%;
        overflow: hidden;
        margin-bottom: 114px;
    }
    .cp-video h1 {
        font-size: 48px;
        text-align: center;
        color: #000;
        line-height: 70px;
        padding: 70px 0 50px;
    }
    .cp-video .video-box .video {
        width: 33.33333%;
        float: left;
        position: relative;
    }
    .cp-video .video-box .video:hover img {
        transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2, 1.2);
        /* Safari 和 Chrome */
        -o-transform: scale(1.2, 1.2);
        /* Opera */
        -moz-transform: scale(1.2, 1.2);
        /* Firefox */
    }
    .cp-video .video-box .video img {
        max-width: 400px;
        transition: all .5s ease;
    }
    .cp-video .video-box .video a {
        position: absolute;
        width: 75px;
        height: 75px;
        top: 50%;
        left: 50%;
        margin-top: -32.5px;
        margin-left: -32.5px;
        background: url(../images/icon13.png);
    }
    .cp-video .cp-service {
        width: 100%;
        border-bottom: 1px solid #5d5d5d;
        overflow: hidden;
        padding-bottom: 65px;
        margin-bottom: 110px;
        border-top: 1px solid #5d5d5d;
    }
    .cp-video .cp-service .left-cp {
        width: 50%;
        float: left;
        padding-top: 175px;
        text-align: center;
        background: url(../images/icon11.png) no-repeat center 90px;
    }
    .cp-video .cp-service h2 {
        text-align: center;
        font-size: 30px;
        color: #000;
        line-height: 70px;
    }
    .cp-video .cp-service .right-cp {
        width: 50%;
        float: left;
        padding-top: 175px;
        text-align: center;
        background: url(../images/icon12.png) no-repeat center 90px;
    }
    .cp-video .cp-service a {
        font-size: 13px;
        color: #000;
        width: 166px;
        height: 40px;
        margin: 0 auto;
        line-height: 40px;
        border-radius: 20px;
        display: inline-block;
        border: 1px solid #5d5d5d;
        text-align: center;
        background: #f2f2f2;
        transition: all .5s ease-out;
    }
    .cp-video .cp-service a:hover {
        background: #5d5d5d;
        color: #fff;
    }
}





/*mobile*/

@media screen and (max-width: 768px) {
       /*produce*/
    .produce-container {
        width: 100%;
        max-width: 1200px;
        margin: 65px auto 0;
    }
    .produce-container .produce {
        width: 100%;
    }
    .produce-container .produce .pro-nav {
        color: #fff;
        background: #272727;
        font-size: 14px;
        line-height: 1.5;
        padding: 20px 30px;
    }
    .produce-container .produce .anchor {
        /* float: right; */
        display: block;
        text-align: left;
        margin-top: 10px;
    }
    .produce-container .produce .anchor a {
        color: #fff;
        padding: 0 10px;
        border-right: 1px solid #fff;
    }
    .produce-container .produce .anchor a:first-child {
        padding-left: 0;
    }
    .produce-container .produce .anchor a:last-child {
        border-right: none;
    }
    .produce-container .produce .pro-detail {
        /* height: 500px; */
        width: 100%;
        overflow: hidden;
        background: #fff;
    }
    .produce-container .produce .pro-detail .pro-img {
        width: 100%;
        /* float: left; */
        /* height: 100%; */
        /* max-width: 600px; */
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
    }
    .produce-container .produce .pro-detail .pro-img img {
        max-width: 560px;
        width: 100%;
    }
    .produce-container .produce .pro-detail .pro-description {
        width: 100%;
        /* float: left; */
        /* margin-top: 45px; */
    }
    .produce-container .produce .pro-detail .pro-description h1 {
        padding: 15px;
        font-size: 36px;
        color: #272727;
    }
    .produce-container .produce .pro-detail .pro-description p {
        background: #fff;
        color: #272727;
        font-size: 14px;
        line-height: 2;
        padding: 15px;
    }
    .produce-container .produce .pro-par {
        width: 100%;
        max-width: 1200px;
    }
    .produce-container .produce .pro-par .par-box {
        overflow: hidden;
        background: #4c4d6f;
    }
    .produce-container .produce .pro-par .par-box .par-tip {
        height: 136px;
        width: 100%;
        float: left;
    }
    .produce-container .produce .pro-par .par-box .par-tip:first-child {
        background: #18497f;
        position: relative;
    }
    .produce-container .produce .pro-par .par-box .par-tip:first-child:after {
        position: absolute;
        content: "";
        height: 89px;
        width: 1px;
        background: #18497f;
        right: 0;
        top: 50%;
        margin-top: -45px;
    }
    .produce-container .produce .pro-par .par-box .par-tip h1 {
        font-size: 32px;
        color: #fff;
        line-height: 1.2;
        margin-top: 30px;
        text-align: center;
    }
    .produce-container .produce .pro-par .par-box .par-tip p {
        font-size: 18px;
        color: #fff;
        text-align: center;
    }
    .cp-par {
        width: 100%;
        height: 650px;
        background: #fff;
    }
    .cp-par .cp-par-box {
        /* width: 100%; */
        padding: 15px;
        overflow: hidden;
    }
    .cp-par h1 {
        font-size: 48px;
        text-align: center;
        color: #000;
        line-height: 70px;
        padding: 70px 0 50px;
    }
    .cp-par .cp-par-box ul {
        width: 50%;
        max-width: 130px;
        margin: 0 auto;
        padding: 6px;
        float: left;
    }
    .cp-par .cp-par-box ul:nth-child(odd) {
        float: right;
    }
    .cp-par .cp-par-box ul li {
        font-size: 12px;
        color: #9e9e9e;
        line-height: 2;
        /* padding: 15px; */
    }
    .cp-par .cp-par-box ul li:first-child {
        font-size: 14px;
        color: #272727;
        line-height: 36px;
        margin-bottom: 20px;
        border-bottom: 1px solid #5d5d5d;
        border-top: 1px solid #5d5d5d;
    }
    .cp-video {
        width: 100%;
    }
    .cp-video .video-box {
        width: 100%;
        overflow: hidden;
        /* margin-bottom: 114px; */
    }
    .cp-video h1 {
        font-size: 48px;
        text-align: center;
        color: #000;
        line-height: 70px;
        padding: 70px 0 50px;
    }
    .cp-video .video-box .video {
        width: 100%;
        /* float: left; */
        position: relative;
    }
    .cp-video .video-box .video:hover img {
        transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2, 1.2);
        /* Safari 和 Chrome */
        -o-transform: scale(1.2, 1.2);
        /* Opera */
        -moz-transform: scale(1.2, 1.2);
        /* Firefox */
    }
    .cp-video .video-box .video img {
        /* max-width: 400px; */
        transition: all .5s ease;
        width: 100%;
    }
    .cp-video .video-box .video a {
        position: absolute;
        width: 75px;
        height: 75px;
        top: 50%;
        left: 50%;
        margin-top: -32.5px;
        margin-left: -32.5px;
        background: url(../images/icon13.png);
    }
    .cp-video .cp-service {
        width: 100%;
        border-bottom: 1px solid #5d5d5d;
        overflow: hidden;
        padding-bottom: 65px;
        margin-bottom: 0;
        border-top: 1px solid #5d5d5d;
    }
    .cp-video .cp-service .left-cp {
        width: 100%;
        /* float: left; */
        padding-top: 175px;
        text-align: center;
        background: url(../images/icon11.png) no-repeat center 90px;
    }
    .cp-video .cp-service h2 {
        text-align: center;
        font-size: 30px;
        color: #000;
        line-height: 70px;
    }
    .cp-video .cp-service .right-cp {
        width: 100%;
        /* float: left; */
        padding-top: 175px;
        text-align: center;
        background: url(../images/icon12.png) no-repeat center 90px;
    }
    .cp-video .cp-service a {
        font-size: 13px;
        color: #000;
        width: 166px;
        height: 40px;
        margin: 0 auto;
        line-height: 40px;
        border-radius: 20px;
        display: inline-block;
        border: 1px solid #5d5d5d;
        text-align: center;
        background: #f2f2f2;
        transition: all .5s ease-out;
    }
    .cp-video .cp-service a:hover {
        background: #5d5d5d;
        color: #fff;
    }
}