@charset 'utf-8';
/*desktop*/
@media screen and (min-width: 769px) {
    .sustainability{
        margin-bottom: 135px;
    }
    .sustainability .sustainability-title{
        margin-top: 135px;
        margin-bottom: 60px;
    }
    .sustainability .sustainability-content{
        text-align: right;
        position: relative;
    }
    .sustainability .sustainability-content .sustainability-description-block{
        width: 800px;
        text-align: left;
        margin-left: 100px;
        padding-top: 30px;
        position: absolute;
        bottom: 0;
        background: rgba(255,255,255,0.8);
    }
    .sustainability .sustainability-content .sustainability-description-block .line{
        background-color: #000;
        width: 25%;
    }
    .sustainability .sustainability-content .sustainability-description-block .container-box-description{
        padding-top: 35px;
        padding-bottom: 25px;
        padding-right: 140px;
    }
    .echo,.production{
        margin-bottom: 160px;
    }
    .product{
        padding-bottom: 160px;
    }
    .echo .container-box-description,.production .container-box-description,.product .container-box-description{
        padding-top: 35px;
        padding-left:250px;
        padding-right: 225px; 
    }
}

/*mobile*/
@media screen and (max-width: 768px) {
    .hero{
        margin-bottom: 50px;
    }
    .container-box{
        padding-bottom: 75px;
    }
    .container-box .container-box-description{
        padding: 0 10px;
        padding-top: 25px;
    }
}